*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Gotham Rounded, sans-serif;
}

body{
  background: linear-gradient( to right, #00AAFF, #00FF6C);
}

#caculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px) ;
  grid-template-rows: minmax(120px, auto) repeat(5, 100px) ;
}

#caculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #ffff;
  outline: none;
  background-color: rgba(255, 255, 255, 0.666);
}

#caculator-grid > button:hover{
  background-color: rgba(255, 255, 255, 0.9);

}

.span-2{
  grid-column:  span 2;
}

.output{
  grid-column: 1/-1 ;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: space-around;
  align-items: end;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand{
  color: rgba(255, 255, 255, .8);
  font-size: 1.5rem;
}

.current-operand{
  color: #ffff;
  font-size: 2.5rem;
}